<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Else if</Title>
			<Author>Patryk Wiśniewski</Author>
			<Description>Create else if</Description>
			<Shortcut>elseIf</Shortcut>
		</Header>
        <Snippet>
            <Code Language="CSharp">

   <![CDATA[else if (true)
            {
                $end$
            }]]>	
              
            </Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>