<CodeSnippets>
<CodeSnippet Format="1.1.0">
  <Header>
    <Title>lambda expression without parameters</Title>
    <Shortcut>lambda_without_parameters</Shortcut>
    <Description>lambda expression without parameters</Description>
    <Author>Patryk Wiśniewski</Author>
<SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
<Snippet>
    <Code Language="CSharp"><![CDATA[() => $end$]]></Code>
  </Snippet>
</CodeSnippet>
</CodeSnippets>