<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>return true</Title>
    <Shortcut>return_true</Shortcut>
    <Description>return true statement</Description>
    <Author>Patryk Wiśniewski</Author>
     <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
<Snippet>
    <Code Language="CSharp"><![CDATA[return true;$end$]]></Code>
  </Snippet>
</CodeSnippet>