<CodeSnippets>
<CodeSnippet Format="1.1.0">
  <Header>
    <Title>return keyword</Title>
    <Shortcut>return_keyword</Shortcut>
    <Description>return keyword statement</Description>
    <Author>Patryk Wiśniewski</Author>
     <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
<Snippet>
    <Code Language="CSharp"><![CDATA[return$end$]]></Code>
  </Snippet>
</CodeSnippet>
</CodeSnippets>