<CodeSnippets>
<CodeSnippet Format="1.1.0">
  <Header>
    <Title>return null</Title>
    <Shortcut>return_null</Shortcut>
    <Description>return null statement</Description>
    <Author>Patryk Wiśniewski</Author>
     <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
<Snippet>
    <Code Language="CSharp"><![CDATA[return null;$end$]]></Code>
  </Snippet>
</CodeSnippet>
</CodeSnippets>