<CodeSnippets>
  <CodeSnippet Format="1.1.0">
    <Header>
      <Title>return_new</Title>
      <Shortcut>return_new</Shortcut>
      <Description>return_new</Description>
      <Author>Patryk Wiśniewski</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
        <Code Language="CSharp"><![CDATA[return new$end$]]></Code>
      </Snippet>
  </CodeSnippet>
</CodeSnippets>