<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>TODO comment</Title>
    <Shortcut>TODOComment</Shortcut>
    <Description>TODO comment</Description>
    <Author>Patryk Wiśniewski</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="CSharp"><![CDATA[//TODO: $end$]]></Code>
  </Snippet>
</CodeSnippet>